{% extends "base.html" %}

{% block announce %}
⚠️ League of Legends will soon be no longer playable on Linux due to planned implementation of <a href="https://youtu.be/9U_jEzKf0_0?t=732">Vanguard anticheat</a> ⚠️ This site will soon be archived ⚠️ <a href="https://old.reddit.com/r/leagueoflinux/comments/1abhx9f/farewell_rleagueoflinux_vanguard_is_coming_to/">Farewell r/leagueoflinux ❤️</a>
{% endblock %}